@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;800&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 14px/1 "Karla", sans-serif;
  font-weight: 400;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

strong {
  font-weight: bold;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}
::-moz-focus-inner {
  padding: 0;
  border: none;
}

input,
textarea {
  font: 14px/1 "Oxygen", sans-serif;
}
::-webkit-input-placeholder {
  color: #828282;
  opacity: 1;
}
::-moz-placeholder {
  color: #828282;
  opacity: 1;
}
:-moz-placeholder {
  color: #828282;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #828282;
  opacity: 1;
}
